[submodule "mobile_client"]
	path = mobile_client
	url = https://github.com/Crabishka/TP_project_mobile_client.git
[submodule "mobile_employee"]
	path = mobile_employee
	url = https://github.com/Crabishka/TP_project_mobile_employee.git
[submodule "backend"]
	path = backend
	url = https://github.com/Crabishka/TP_project_backend.git
